<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title> Historique de participation </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list class="profile-actions">
    <ion-item>
      <ion-label>
        <h3>Tournoi FIFA 2025</h3>
        <p>Terminé le 12/06/2025</p>
      </ion-label>
      <ion-badge color="success" slot="end">1er</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Tournoi Rocket League</h3>
        <p>Terminé le 02/06/2025</p>
      </ion-label>
      <ion-badge color="warning" slot="end">3e</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Tournoi Fortnite</h3>
        <p>Terminé le 28/05/2025</p>
      </ion-label>
      <ion-badge color="medium" slot="end">8e</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
