<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title> Historique de participation </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list class="profile-actions">
    <!-- Fonctionnalités à venir -->
    <ion-item>
      <ion-label>
        <h2>Fonctionnalités à venir</h2>
        <p>
          Cette section sera bientôt disponible pour suivre vos participations.
        </p>
      </ion-label>
      <ion-badge color="warning" slot="end">Bientôt</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
