<ion-header>
  <ion-toolbar>
    <ion-title>Choisir un avatar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="avatar-grid">
    <div
      class="avatar-item"
      *ngFor="let avatar of avatars; let i = index"
      (click)="selectAvatar(avatar)"
    >
      <img [src]="avatar" [alt]="'Avatar ' + (i + 1)" />
      <p>Avatar {{ i + 1 }}</p>
    </div>
  </div>
</ion-content>
