<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title> Guide d'utilisation </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-content>
      <h3>1. Explorer les jeux</h3>
      <p>Consultez la liste des jeux et découvrez leurs compétitions.</p>
      <h3>2. Participer à un tournoi</h3>
      <p>Inscrivez-vous à un tournoi et tentez de gagner des récompenses.</p>
      <h3>3. Gagner des badges</h3>
      <p>Remplissez des objectifs pour débloquer des badges exclusifs.</p>
      <h3>4. Classement</h3>
      <p>Progressez dans le classement général en accumulant des points.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
