<ion-header>
  <ion-toolbar>
    <ion-title>Créer une équipe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="teamForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nom de l'équipe</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rechercher des joueurs</ion-label>
      <ion-input (ionInput)="searchUsers($event)" type="text"></ion-input>
    </ion-item>

    <ion-list class="profile-actions" *ngIf="searchResults$ | async as users">
      <ion-item *ngFor="let user of users">
        <ion-avatar slot="start">
          <img [src]="user.avatar || 'assets/icon/profile.jpeg'" />
        </ion-avatar>
        <ion-label>
          <h2>{{ user.name }}</h2>
          <p>{{ user.email }}</p>
        </ion-label>
        <ion-button slot="end" (click)="inviteUser(user)">Inviter</ion-button>
      </ion-item>
    </ion-list>

    <ion-list class="profile-actions">
      <ion-list-header color="light">Membres invités</ion-list-header>
      <ion-item *ngFor="let member of invitedMembers">
        <ion-avatar slot="start">
          <img
            [src]="member.avatar || 'assets/icon/profile.jpeg'"
            alt="avatar"
          />
        </ion-avatar>
        <ion-label>{{ member.name }}</ion-label>
        <ion-button
          fill="clear"
          color="danger"
          (click)="removeInvitedUser(member)"
        >
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="block" [disabled]="!isFormSubmittable()">
      Créer l'équipe
    </ion-button>
  </form>
</ion-content>
