<ion-header>
  <ion-toolbar>
    <ion-title>Créer une équipe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="teamForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nom de l'équipe</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rechercher des joueurs</ion-label>
      <ion-input
        (ionInput)="searchUsers($event)"
        placeholder="Entrez un nom d'utilisateur"
      ></ion-input>
    </ion-item>

    <ion-list class="profile-actions" *ngIf="searchResults.length > 0">
      <ion-item *ngFor="let user of searchResults">
        <ion-label>{{ user.name }}</ion-label>
        <ion-button slot="end" (click)="inviteUser(user)">Inviter</ion-button>
      </ion-item>
    </ion-list>

    <ion-list class="profile-actions">
      <ion-list-header color="light"> Membres invités </ion-list-header>
      <ion-item *ngFor="let member of invitedMembers">
        <ion-label>{{ member.name }}</ion-label>
        <ion-button
          slot="end"
          color="danger"
          (click)="removeInvitedUser(member)"
          >Retirer</ion-button
        >
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" [disabled]="!teamForm.valid"
      >Créer l'équipe</ion-button
    >
  </form>
</ion-content>
