<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tournaments">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Tournois</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="games">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Jeux</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="badges">
      <ion-icon name="ribbon-outline"></ion-icon>
      <ion-label>Badges</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
