<ion-tabs>
  <ion-tab-bar slot="bottom" class="gaming-tab-bar">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tournaments">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Tournois</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="games">
      <ion-icon name="game-controller"></ion-icon>
      <ion-label>Jeux</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="classement">
      <ion-icon name="medal"></ion-icon>
      <ion-label>Classement</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
