<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="auth-container">
    <ion-avatar class="auth-avatar">
      <img
        src="https://www.citypng.com/public/uploads/preview/pubg-white-silhouette-soldier-with-helmet-logo-733961695143126pruerybiwc.png"
        alt="Avatar"
      />
    </ion-avatar>
    <h2 class="auth-title">Inscription</h2>
    <p class="auth-subtitle">Rejoins la communauté G4M Player</p>

    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <ion-item>
        <ion-icon color="primary" name="person-outline" slot="start"></ion-icon>
        <ion-input
          type="text"
          placeholder="Nom d'utilisateur"
          required
          [(ngModel)]="register.name"
          name="name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon color="primary" name="mail-outline" slot="start"></ion-icon>
        <ion-input
          type="email"
          placeholder="Email"
          required
          [(ngModel)]="register.email"
          name="email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon
          color="primary"
          name="lock-closed-outline"
          slot="start"
        ></ion-icon>
        <ion-input
          type="password"
          placeholder="Mot de passe"
          required
          [(ngModel)]="register.password"
          name="password"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon color="primary" name="gift-outline" slot="start"></ion-icon>
        <ion-input
          type="text"
          placeholder="Code de parrain (optionnel)"
          [(ngModel)]="register.referralCode"
          name="referralCode"
        ></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" color="primary" class="auth-btn">
        S'inscrire
      </ion-button>
    </form>

    <div class="auth-links">
      <a (click)="goToLogin()">Déjà un compte ? Se connecter</a>
    </div>
  </div>
</ion-content>
