<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Modifier mon profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="profile-header">
    <ion-avatar class="profile-avatar" (click)="selectImage()">
      <img
        [src]="previewImage || getDefaultAvatarUrl()"
        alt="Avatar utilisateur"
      />
      <ion-icon name="create-outline" class="edit-icon"></ion-icon>
    </ion-avatar>
    <h2 class="profile-name">{{ form.get('name')?.value || 'Invité' }}</h2>
    <p class="profile-role">{{ form.get('role')?.value || 'Gameur invité' }}</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list class="profile-actions">
      <ion-item>
        <ion-label position="stacked">Nom</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Pays</ion-label>
        <ion-select formControlName="country" interface="popover">
          <ion-select-option
            *ngFor="let country of countryList"
            [value]="country.name"
          >
            {{ country.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Bio</ion-label>
        <ion-textarea
          formControlName="description"
          rows="5"
          placeholder="Ex: Passionné de Clash of Clans, DLS..."
        ></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-button
      type="submit"
      expand="block"
      color="primary"
      [disabled]="form.invalid"
      style="margin-top: 24px"
    >
      Enregistrer les modifications
    </ion-button>
  </form>
</ion-content>
