/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* GLOBAL SCSS - G4M PLAYER */
* {
  font-family: "Inter", sans-serif;
}

/* CONTENT PRINCIPAL */
ion-content {
  --background: var(--ion-background);
}

/* HEADER / TOOLBAR */
ion-header,
ion-toolbar {
  --background: var(--ion-background);
  --color: var(--ion-color-light);
}
// * CARDS GÉNÉRALES */
ion-card {
  --background: var(--ion-second-background);
  color: var(--ion-color-light-contrast);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.06);
}
ion-card:hover {
  box-shadow: 0 6px 16px rgba(148, 47, 255, 0.2);
}
ion-card-title {
  color: var(--ion-color-light);
}

ion-card-content {
  padding: 16px;
  color: var(--ion-color-light);
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #942fff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.05);
}

/* AVATAR SELECTION MODAL */
.avatar-selection-modal {
  --max-width: 90%;
  --max-height: 80%;
  --border-radius: 16px;
}

.avatar-selection-modal .modal-wrapper {
  background: var(--ion-background-color);
  border-radius: 16px;
  overflow: hidden;
}
