<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title> Mon classement </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-content>
      <div style="text-align: center">
        <div style="font-size: 18px; margin-bottom: 8px">Votre position</div>
        <ion-badge color="primary" style="font-size: 22px">#0</ion-badge>
        <div style="margin-top: 12px; color: var(--ion-color-medium)">
          Points : <b>0</b>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-list class="profile-actions">
    <!-- Fonctionnalités à venir -->
    <ion-item>
      <ion-label>
        <h2>Fonctionnalités à venir</h2>
        <p>
          Cette section sera bientôt disponible pour suivre vos participations.
        </p>
      </ion-label>
      <ion-badge color="warning" slot="end">Bientôt</ion-badge>
    </ion-item>
    <!-- <ion-item>
      <ion-label>
        <h3>1. Alice</h3>
        <p>1 800 pts</p>
      </ion-label>
    </ion-item> -->
  </ion-list>
</ion-content>
